$background-color: #746969;
$highligh-color: #b21831;
$font-stack: "'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif";

@mixin theme($theme: blue) {
    .left ul li::before {
        color: $theme
    }
    border-color: $theme;
    h1 {
        color: $theme;
    }
}


* {
    box-sizing: border-box;
}
body {
    background-color: $background-color;
    font-family: $font-stack;
}
header{
    @include theme();
}

main {  
    border-top: 1px solid pink;
    @include theme();
}
footer {
    clear: both;
    border-top: 1px solid pink;
    padding-top: 1rem;
    span {
        text-align: center;
        width: 100%;
        display: block;
        color: $highligh-color;
    }
    @include theme();
}

.left {
    float: left;
    width: 20%;
    ul {
        list-style: none; /* Remove default bullets */
        li::before {
            content: "\2022";
            color: $highligh-color;
            font-weight: bold;
            display: inline-block;
            width: 1em;
            margin-left: -1em;
        }
      }
}

.right {
    float: left;
    width: 80%;
    padding: 1rem;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color:  #000;
}