body {
    background-color: #056888;
    margin: 0;
    font-family: 'Livvic', sans-serif;
    font-size: 1.2em;
    height: 98vh;
}
#navbar {
    border: 4px solid #03465d;
    background-color: #98B5C0;
    font-weight: bold;
    margin-bottom: 5px ;
    }
.container-fluid {
        display: flex;
        flex-direction: column;
        align-items: center;
}  

#navbar a:hover {
    color: #056888;
}
.carousel .carousel-item {
    height: 120px;
    
  }
  
  .carousel-item img {
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      min-height: 120px;
  }
  .carousel-caption{
    
    color: black;
    background-color: white;
    position: absolute;
    right: 30%;
    top: 0.25rem;
    bottom: 0.25rem;
    left: 30%;
    padding-top: 0.1rem;
    padding-bottom: 0.5rem;
    text-align: center;
}

.carousel-caption p{
    font-size: 1em;
    color: black;
}


h5 {
    font-family: 'Caveat Brush', cursive;
    font-size: 2em;
}

p, a, footer{
    font-family: 'Livvic', sans-serif;
    font-size: 1.1em;
}

.nav-item {
    padding:5px;
}

#footer {
    display: flex;
    background-color: #98B5C0;
    border: 5px solid #03465d;
    width: 100%;
    margin: 0;
    justify-content: space-between;

}

.team {
    display: flex;
    color: black;
    align-items: flex-end;
}

li.footer-item {
    padding:3px;
}

footer img {
    max-height: 100px;
    background-color: white;
}


.game {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
    gap: 0px;
    font-family: 'livvic', sans-serif;
    font-size: 1em;
}

form {
    border: 3px solid #03465d;
    background-color: #98B5C0;
    border-radius: 5px;
    padding: 5px;
}


p{
    font-size: 1.5em;
    color: #03465d;
}

h2 {
    text-align: left;
}

.quiz1 {
    grid-column: 1/2;
    grid-row: 2/3;
    background-image: url(../images/helsinki.jpg);
    background-repeat: no-repeat;
    background-size: 20% auto;
    background-position: 85% 50%;
    
}


.quiz2 {
    grid-column: 1/2;
    grid-row: 3/4;
    background-image: url(../images/scandinavia.png);
    background-repeat: no-repeat;
    background-size: 10% auto;
    background-position: 80% 50%;
}

.quiz3 {
    grid-column: 1/2;
    grid-row: 4/5;
    background-image: url(../images/eiffel-tower.png);
    background-repeat: no-repeat;
    background-size: 8% auto;
    background-position: 80% 50%;
}

.quiz4 {
    grid-column: 1/2;
    grid-row: 5/6;
    background-image: url(../images/mount-everest.jpg);
    background-repeat: no-repeat;
    background-size: 20% auto;
    background-position: 85% 50%;
}

.quiz5 {
    grid-column: 1/2;
    grid-row: 6/7;
    background-image: url(../images/volvo.png);
    background-repeat: no-repeat;
    background-size: 20% auto;
    background-position: 85% 50%;
}

.scoreboard {
    display: flex;
    font-size: 1em;
    border: 3px solid #03465d;
    border-radius: 5px;
    grid-column: 1/2;
    grid-row: 7/8;
    background-color: #98B5C0;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.side{
    grid-column: 1/2;
    grid-row: 1/2;
    border: 3px solid #03465d;
    background-color: #98B5C0;
    text-align: center;
    padding: 10px;
    
}

.seuraava1, .seuraava2, .seuraava3, .seuraava4, .aloita_peli{
    display: none;
}

@media screen and (max-width: 991px){
.game{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
}
.quiz1, .quiz2, .quiz3, .quiz4, .quiz5, .side{
    grid-column: 1/2;
    grid-row: 1/2;
    background-image: none;
}
.container-fluid {
    display: flex;
    flex-direction: row;
    align-items: center;
} 

.scoreboard{
    grid-column: 1/2;
    grid-row: 2/3;
}
.kuvat{
    display: none;
}

footer img{
    display: none;
}

.seuraava1, .seuraava2, .seuraava3, .seuraava4, .aloita_peli{
    display: inline-block;
}
.piilotettu{
    display: none;
}
#carouselCaptions {
    display: none;
}
}