$borderColor: #DA4F00;
$backgroudColor: #FF995F;
body {
    margin: 0;
    font-family: 'Livvic', sans-serif;
    font-size: 1.2em;
    height: 100vh;
}

#navbar {
    border: 5px solid $borderColor;
    background-color: $backgroudColor;
    font-weight: bold;
    a:hover {
        color: #056888;
    }
}

//using [] selector
a[href*="html"] {
    color: #056888
    ;
  }

.container-fluid {
    display: flex;
    flex-direction: row;
}    

.carousel .carousel-item {
    height: 120px;
    img {
        position: absolute;
        object-fit: cover;
        top: 0;
        left: 0;
        min-height: 120px;
    }
}

.carousel-caption{   
    color: black;
    background-color: white;
    position: absolute;
    right: 30%;
    top: 0.25rem;
    bottom: 0.25rem;
    left: 30%;
    padding-top: 0.1rem;
    padding-bottom: 0.5rem;
    text-align: center;
}



h5 {
    font-family: 'Caveat Brush', cursive;
    font-size: 2em;
}

p, a, footer{
    font-family: 'Livvic', sans-serif;
    font-size: 1.1em;
}

.nav-item {
    padding:5px;
}

#footer {
    display: flex;
    background-color: $backgroudColor;
    border: 5px solid $borderColor;
    width: 100%;
    margin: 0;
    justify-content: space-between;

}

.team {
    display: flex;
    color: black;
    align-items: flex-end;
}

//using ~ selector
.footer-item ~ li{
    color: red;
    font-size: 1em;
}
li.footer-item {
    padding:3px;
}
//using > selector
footer > img {
    max-height: 100px;
    background-color: white;
}
.accordion-body img{
    width: 10%;
}
.accordion {
    margin: 5px 0px;
}

.jotain {
    margin: 5px 0px;
}
//using + selector
.jotain + div{
    background-color: aqua;
}
/* first content index */
.container {
    display: flex;
    flex-direction: column;
    margin: 10px;
    height: 55%;
}
.btn{
    margin-left: 40px;
    background-color: #DA4F00;
}
.firstPage{
    display: grid;
    grid-template-columns: 3fr 10fr;
    grid-template-rows: 1fr;
    width: 100%;
    border: 5px solid #DA4F00;
    padding: 10px;
    min-height: 410px;
}
.col-2 {
    display: flex;
    grid-column: 1/2;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}
 
.col-10 {
    display: flex;
    grid-column: 2/3;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}

h3 {
    font-family: 'Caveat Brush', cursive;
    font-size: 1.5em;
    font-weight: normal;
}



@media screen and (max-width: 991px){
.container {
    display: flex;
    margin: 10px;
    height: 78%;
}
.container-fluid {
    display: flex;
    flex-direction: row;
    align-items: center;
} 

footer img{
    display: none;
}

#carouselCaptions {
    display: none;
}
    

    .col-2{
        display: none;
    }
    .col-10{
        grid-column: 1/3;
    
    }
}

